* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
.Container {
    display: grid;
    grid-template-columns: minmax(0, 15%) minmax(0, 85%);
}

.Content {
    margin: 50px;
}
